@import '@style/common.scss';

.href {
    position: relative;
    color: $color-yellow;
    font-weight: 700;
    font-size: 15px;
    padding-left: 25px;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            border: solid $color-yellow;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 5px;
            transform: rotate(135deg) translate(-70% , 0);
            transition: 0.4s;
        }

        &:hover {
            text-shadow: 0 0 25px $color-blue,
            0 0 4px $color-white    
            ;
            &::after {
                left: -15px;
            }
        }
}
.text {}