@import '@style/common.scss';
.header {
    &__container {
        padding-top: 15px;
        width: 100%;
        display: flex;

        
    }
    &__item {
        text-align: center;
        padding: 7px 10px;
        min-width: 100px;
        border: 2px solid transparent;
        text-shadow: 0 0 5px $color-white ,
        0 0 40px $color-blue;
        color: $color-white;
        transition: 0.4s;
        &:not(:first-child) {
            margin-left: 25px;
        }
        
        &:global(.active) {
            border-color: $color-blue;
            border-radius: 3px;
            color: rgb(105, 105, 202);
            text-shadow: none;
        }
    }


    &__favorite {
        display: flex;
        flex: 1 1 100%;
        align-items: center;
        justify-content: flex-end;
            & path {
                fill: $color-yellow;
            }

        & a {
            position: relative;
        }
        &_count {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: -5px;right: 0;
            width: 15px;height: 15px;
            font-size: 12px;
            border-radius: 50%;
            background-color: #fff;
            color: black;
            z-index: 5;
        }
    }

    
}

