$color-white:#fff;
$color-yellow:#cccc46;
$color-black:#000;  
$color-blue:rgb(27, 27, 94);

// :root{
//     --df-img:url(~@static/bg.jpg);
// }

$df-img:url(~@static/bg.jpg);


:export {
  colorWhite: $color-white;
  colorYellow: $color-yellow;
  colorBlack: $color-black;
  colorBlue: $color-blue;
}